* {
    box-sizing: border-box;
  }
  /* appearance flow and background of body */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(331deg, rgb(179, 178, 178) 0%, rgb(243, 242, 242) 45%, rgb(151, 151, 151) 100%);
    background-repeat: no-repeat;
  }

  /* Appearance and flow of nav bar */
nav {
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 1px 1px grey;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* Navigation bar hover underline effect */
nav a:hover {
    text-decoration-line: underline;
    cursor: pointer;
  }

  /* appearance of header  */
header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 30px;
    padding: 5px;
    text-shadow: 1px 1px 1px grey;
  }

  /* appearance and flow of main  */
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  /* appearance and flow of sections  */
section {
    font-size: 24px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
  } 

  /* appearance and flow of form  */
  form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
  }

  /* sets margin around inputs - both field and button  */
input {
  margin: 5px;
}

/* handles sizing and behavior of input field for user initials  */
  input[type="text"] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
  }

  /* sets appearance of class rules on the first page  */
  .sec-rules {
    align-items: center;
  }

/* sets appearance of button for entering your initials  */
  .init-btn {
    background-color: purple;
    color: white;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    line-height: 20px;
    margin: 2px;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* sets hover behavior for button for setting initials  */
  .init-btn:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
  }

  /* general button appearance  */
  .btn {
    background-color: purple;
    color: white;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    line-height: 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* general button hover behavior  */
  .btn:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
  }

  /* flow of badges  */
  .sec-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* layoout of listing of records  */
  .sec-record {
    display:flex;
    justify-content: space-between;
  }

  /* appearance of correct badges  */
  #correct {
    border-style: solid;
    border-width: 5px;
    border-color:white;
    border-radius: 60px;
    background-color:green;
    color: white;
    display: flex;
    font-size:20px;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    min-width: 70px;
  }

  /* appearance of incorrect badges  */
  #incorrect {
    border-style: solid;
    border-width: 5px;
    border-color:white;
    border-radius: 60px;
    background-color:red;
    color: white;
    display: flex;
    font-size:20px;
    margin: 20px 20px 20px 20px;
    padding: 30px;
  }

  /* appearance of start button  */
  #start-btn {
    background-color: hsl(130, 97%, 26%);
    color: white;
    display: flex;
    font-size:30px;
    max-width: 180px;
    border-radius: 15px;
    line-height: 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* handles smaller screen sizes and mobile devices  */
@media (max-width: 690px) {
  nav {
    font-size: 1rem;
  }
  
  #title-card {
    font-size: 1.5rem;
  }

main, header {
  font-size: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

form {
  flex-direction: column;
}
  
.btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #correct, #incorrect {
    font-size: 12px;
    padding: 20px 5px;
    margin: 10px;
  }
}